# Retail  Solutions

This notebook contains Python solutions for 30 analytical scenarios using the **retail_enhanced** database. Each scenario retrieves data via SQL, processes it using pandas, and visualizes the results using Matplotlib or Plotly. Ensure the `retail_enhanced.db` database is available in the working directory before executing the cells.

In [ ]:

import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Connect to the database
conn = sqlite3.connect('retail_enhanced.db')

### 1. Customer Age Distribution
Retrieve all customer ages from the `customers` table and plot a histogram showing the distribution of customer ages using Matplotlib. This helps understand the age demographics of customers.

In [ ]:

# 1. Customer Age Distribution
query = 'SELECT age FROM customers'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(6,4))
plt.hist(df['age'], bins=10, color='skyblue', edgecolor='black')
plt.xlabel('Age')
plt.ylabel('Number of Customers')
plt.title('Distribution of Customer Ages')
plt.tight_layout()
plt.show()

### 2. Gender Distribution
Query the number of customers by gender from the `customers` table and visualize the results using a pie or bar chart (use Plotly for interactivity) to see the gender ratio among customers.

In [ ]:

# 2. Gender Distribution
query = 'SELECT gender, COUNT(*) AS count FROM customers GROUP BY gender'
df = pd.read_sql_query(query, conn)
fig = px.pie(df, values='count', names='gender', title='Gender Distribution of Customers')
fig.show()

### 3. Sales by Region
Join `orders` with `customers` to calculate the total sales (sum of `total_price`) for each region. Plot a bar chart to compare sales across different regions.

In [ ]:

# 3. Sales by Region
query = 'SELECT c.region, SUM(o.total_price) AS total_sales FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY c.region'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(7,4))
plt.bar(df['region'], df['total_sales'], color='teal')
plt.xlabel('Region')
plt.ylabel('Total Sales')
plt.title('Sales by Region')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 4. Sales Trend Over Time
Aggregate total order value by month from the `orders` table (summing `total_price`) and plot a line chart to visualize how sales have changed over time.

In [ ]:

# 4. Sales Trend Over Time
query = "SELECT strftime('%Y-%m', order_date) AS month, SUM(total_price) AS total_sales FROM orders GROUP BY month ORDER BY month"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.plot(df['month'], df['total_sales'], marker='o')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.title('Sales Trend Over Time')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 5. Top 10 Customers by Total Spending
Compute the total amount spent by each customer by grouping `orders` on `customer_id`. Identify the top 10 customers with the highest total spending and display the results with a bar chart.

In [ ]:

# 5. Top 10 Customers by Total Spending
query = 'SELECT c.id AS customer_id, c.name, SUM(o.total_price) AS total_spent FROM customers c JOIN orders o ON o.customer_id = c.id GROUP BY c.id, c.name ORDER BY total_spent DESC LIMIT 10'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.barh(df['name'], df['total_spent'], color='purple')
plt.xlabel('Total Spent')
plt.ylabel('Customer')
plt.title('Top 10 Customers by Total Spending')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

### 6. Average Order Value by Region
Join `orders` with `customers` and calculate the average order value (`total_price`) for each region. Plot a bar chart to compare average order values across regions.

In [ ]:

# 6. Average Order Value by Region
query = 'SELECT c.region, AVG(o.total_price) AS avg_order_value FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY c.region'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(7,4))
plt.bar(df['region'], df['avg_order_value'], color='orange')
plt.xlabel('Region')
plt.ylabel('Average Order Value')
plt.title('Average Order Value by Region')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 7. Product Price Distribution
Retrieve product prices from the `products` table and plot a histogram showing the distribution of product prices.

In [ ]:

# 7. Product Price Distribution
query = 'SELECT price FROM products'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(6,4))
plt.hist(df['price'], bins=10, color='green', edgecolor='black')
plt.xlabel('Price')
plt.ylabel('Number of Products')
plt.title('Distribution of Product Prices')
plt.tight_layout()
plt.show()

### 8. Average Product Price by Category
Join `products` with `categories` to calculate the average product price for each category. Visualize the results using a bar chart.

In [ ]:

# 8. Average Product Price by Category
query = 'SELECT cat.name AS category, AVG(p.price) AS avg_price FROM products p JOIN categories cat ON cat.id = p.category_id GROUP BY cat.id, cat.name'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['category'], df['avg_price'], color='magenta')
plt.xlabel('Category')
plt.ylabel('Average Price')
plt.title('Average Product Price by Category')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 9. Sales by Category
Join `orders` with `products` and `categories` to compute total sales per category. Create a pie chart (using Plotly) to show each categoryâ€™s share of total sales.

In [ ]:

# 9. Sales by Category
query = 'SELECT cat.name AS category, SUM(o.total_price) AS total_sales FROM orders o JOIN products p ON p.id = o.product_id JOIN categories cat ON cat.id = p.category_id GROUP BY cat.id, cat.name'
df = pd.read_sql_query(query, conn)
fig = px.pie(df, values='total_sales', names='category', title='Sales by Category')
fig.show()

### 10. Monthly Order Volume
Count the number of orders for each month using the `orders` table. Plot a line chart to see trends in order volume over time.

In [ ]:

# 10. Monthly Order Volume
query = "SELECT strftime('%Y-%m', order_date) AS month, COUNT(*) AS order_count FROM orders GROUP BY month ORDER BY month"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.plot(df['month'], df['order_count'], marker='o')
plt.xlabel('Month')
plt.ylabel('Number of Orders')
plt.title('Monthly Order Volume')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 11. Price vs Quantity Ordered
Join `orders` with `products` to plot a scatter chart comparing product price (`price` from `products`) against quantity ordered (`quantity` from `orders`). Compute and print the correlation between price and quantity.

In [ ]:

# 11. Price vs Quantity Ordered
query = 'SELECT p.price, o.quantity FROM orders o JOIN products p ON p.id = o.product_id'
df = pd.read_sql_query(query, conn)
corr = df['price'].corr(df['quantity'])
print('Correlation between price and quantity:', corr)
plt.figure(figsize=(6,4))
plt.scatter(df['price'], df['quantity'], alpha=0.6)
plt.xlabel('Product Price')
plt.ylabel('Quantity Ordered')
plt.title('Price vs Quantity Ordered')
plt.tight_layout()
plt.show()

### 12. Employee Salary Distribution
Retrieve salaries from the `employees` table and plot a histogram showing the distribution of employee salaries.

In [ ]:

# 12. Employee Salary Distribution
query = 'SELECT salary FROM employees'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(6,4))
plt.hist(df['salary'], bins=10, color='steelblue', edgecolor='black')
plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.title('Distribution of Employee Salaries')
plt.tight_layout()
plt.show()

### 13. Average Salary by Department
Join `employees` with `departments` to compute the average salary for each department. Visualize the results using a bar chart.

In [ ]:

# 13. Average Salary by Department
query = 'SELECT dept.name AS department, AVG(e.salary) AS avg_salary FROM employees e JOIN departments dept ON dept.id = e.department_id GROUP BY dept.id, dept.name'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['department'], df['avg_salary'], color='coral')
plt.xlabel('Department')
plt.ylabel('Average Salary')
plt.title('Average Salary by Department')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 14. Bonus vs Salary Relationship
Using the `employees` table, create a scatter plot comparing employee salary and bonus to see if higher salaries correlate with higher bonuses. Compute the correlation between salary and bonus.

In [ ]:

# 14. Bonus vs Salary Relationship
query = 'SELECT salary, bonus FROM employees'
df = pd.read_sql_query(query, conn)
corr = df['salary'].corr(df['bonus'])
print('Correlation between salary and bonus:', corr)
plt.figure(figsize=(6,4))
plt.scatter(df['salary'], df['bonus'], alpha=0.6)
plt.xlabel('Salary')
plt.ylabel('Bonus')
plt.title('Salary vs Bonus')
plt.tight_layout()
plt.show()

### 15. Average Order Quantity by Age Group
Define age groups (e.g., <25, 25â€“45, >45) for customers. Join `orders` with `customers`, compute the average quantity per order for each age group, and plot a bar chart.

In [ ]:

# 15. Average Order Quantity by Age Group
query = "SELECT CASE WHEN c.age < 25 THEN '<25' WHEN c.age BETWEEN 25 AND 45 THEN '25-45' ELSE '>45' END AS age_group, AVG(o.quantity) AS avg_quantity FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY age_group"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(6,4))
plt.bar(df['age_group'], df['avg_quantity'], color='plum')
plt.xlabel('Age Group')
plt.ylabel('Average Quantity per Order')
plt.title('Average Order Quantity by Age Group')
plt.tight_layout()
plt.show()

### 16. Age vs Total Spending
Calculate total spending for each customer (sum of `total_price` from `orders`) and join with the customer's age from `customers`. Plot a scatter chart of age vs total spending and compute the correlation.

In [ ]:

# 16. Age vs Total Spending
query = 'SELECT c.id AS customer_id, c.age, SUM(o.total_price) AS total_spent FROM customers c JOIN orders o ON o.customer_id = c.id GROUP BY c.id, c.age'
df = pd.read_sql_query(query, conn)
corr = df['age'].corr(df['total_spent'])
print('Correlation between age and total spending:', corr)
plt.figure(figsize=(6,4))
plt.scatter(df['age'], df['total_spent'], alpha=0.6)
plt.xlabel('Age')
plt.ylabel('Total Spending')
plt.title('Age vs Total Spending')
plt.tight_layout()
plt.show()

### 17. Sales by City
Join `orders` with `customers` to compute total sales per city. Plot a bar chart of total sales by city.

In [ ]:

# 17. Sales by City
query = 'SELECT c.city, SUM(o.total_price) AS total_sales FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY c.city'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['city'], df['total_sales'], color='darkcyan')
plt.xlabel('City')
plt.ylabel('Total Sales')
plt.title('Sales by City')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 18. Product Popularity (Quantity Sold)
Aggregate total quantity sold per product from the `orders` table. Identify the top 10 products by quantity sold and plot a bar chart.

In [ ]:

# 18. Product Popularity (Quantity Sold)
query = 'SELECT p.name AS product_name, SUM(o.quantity) AS total_quantity FROM orders o JOIN products p ON p.id = o.product_id GROUP BY p.id, p.name ORDER BY total_quantity DESC LIMIT 10'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.barh(df['product_name'], df['total_quantity'], color='olive')
plt.xlabel('Total Quantity Sold')
plt.ylabel('Product')
plt.title('Top 10 Products by Quantity Sold')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

### 19. Average Quantity per Order by Category
Join `orders` with `products` and `categories`. Compute the average quantity per order for each category and plot the results.

In [ ]:

# 19. Average Quantity per Order by Category
query = 'SELECT cat.name AS category, AVG(o.quantity) AS avg_quantity FROM orders o JOIN products p ON p.id = o.product_id JOIN categories cat ON cat.id = p.category_id GROUP BY cat.id, cat.name'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['category'], df['avg_quantity'], color='chocolate')
plt.xlabel('Category')
plt.ylabel('Average Quantity per Order')
plt.title('Average Quantity per Order by Category')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 20. Customer Signup Trend
Using the `signup_date` in the `customers` table, count the number of customers who signed up each month. Plot a line chart showing customer sign-ups over time.

In [ ]:

# 20. Customer Signup Trend
query = "SELECT strftime('%Y-%m', signup_date) AS month, COUNT(*) AS signup_count FROM customers GROUP BY month ORDER BY month"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.plot(df['month'], df['signup_count'], marker='o')
plt.xlabel('Month')
plt.ylabel('Number of Signups')
plt.title('Customer Signup Trend')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 21. Employee Count by Department
Join `employees` with `departments` to count the number of employees in each department. Plot a bar chart to visualize the department sizes.

In [ ]:

# 21. Employee Count by Department
query = 'SELECT dept.name AS department, COUNT(e.id) AS employee_count FROM departments dept LEFT JOIN employees e ON e.department_id = dept.id GROUP BY dept.id, dept.name'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['department'], df['employee_count'], color='teal')
plt.xlabel('Department')
plt.ylabel('Number of Employees')
plt.title('Employee Count by Department')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 22. Average Sales per Department
Join `orders`, `products`, and `departments` to compute the total and average sales for each department. Plot a bar chart showing average sales per department.

In [ ]:

# 22. Average Sales per Department
query = 'SELECT dept.name AS department, SUM(o.total_price) AS total_sales, AVG(o.total_price) AS avg_order_value FROM orders o JOIN products p ON p.id = o.product_id JOIN departments dept ON dept.id = p.department_id GROUP BY dept.id, dept.name'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['department'], df['avg_order_value'], color='navy')
plt.xlabel('Department')
plt.ylabel('Average Order Value')
plt.title('Average Sales per Department')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 23. Product Price vs Sales by Department
For each department, compute the average product price and total sales. Plot a scatter chart (with Plotly) where the x-axis is average price and y-axis is total sales per department. Use point size or color to indicate department.

In [ ]:

# 23. Product Price vs Sales by Department
query = 'SELECT dept.name AS department, AVG(p.price) AS avg_price, SUM(o.total_price) AS total_sales FROM orders o JOIN products p ON p.id = o.product_id JOIN departments dept ON dept.id = p.department_id GROUP BY dept.id, dept.name'
df = pd.read_sql_query(query, conn)
fig = px.scatter(df, x='avg_price', y='total_sales', color='department', size='total_sales', hover_name='department', title='Average Product Price vs Total Sales by Department')
fig.update_traces(marker=dict(opacity=0.7))
fig.show()

### 24. Number of Customers by City
Count the number of customers in each city from the `customers` table and visualize it with a bar chart.

In [ ]:

# 24. Number of Customers by City
query = 'SELECT city, COUNT(*) AS customer_count FROM customers GROUP BY city'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.bar(df['city'], df['customer_count'], color='darkorchid')
plt.xlabel('City')
plt.ylabel('Number of Customers')
plt.title('Number of Customers by City')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 25. Category Share of Total Sales
Compute the proportion of total sales contributed by each category (join `orders`, `products`, `categories`). Create a pie chart (Plotly) showing the percentage contribution of each category.

In [ ]:

# 25. Category Share of Total Sales
query = 'SELECT cat.name AS category, SUM(o.total_price) AS total_sales FROM orders o JOIN products p ON p.id = o.product_id JOIN categories cat ON cat.id = p.category_id GROUP BY cat.id, cat.name'
df = pd.read_sql_query(query, conn)
fig = px.pie(df, values='total_sales', names='category', title='Category Share of Total Sales')
fig.show()

### 26. Employee Tenure Distribution
Calculate employee tenure by subtracting `hire_date` from the current date for each employee. Plot a histogram of tenure (in years) to see how long employees have worked at the company.

In [ ]:

# 26. Employee Tenure Distribution
query = "SELECT CAST((julianday('now') - julianday(hire_date)) / 365.25 AS INTEGER) AS tenure_years FROM employees"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(6,4))
plt.hist(df['tenure_years'], bins=10, color='limegreen', edgecolor='black')
plt.xlabel('Tenure (Years)')
plt.ylabel('Number of Employees')
plt.title('Distribution of Employee Tenure')
plt.tight_layout()
plt.show()

### 27. Average Order Value Over Time
Calculate the average order value (`total_price`) for each month and plot a line chart showing how average order values have evolved over time.

In [ ]:

# 27. Average Order Value Over Time
query = "SELECT strftime('%Y-%m', order_date) AS month, AVG(total_price) AS avg_order_value FROM orders GROUP BY month ORDER BY month"
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(8,4))
plt.plot(df['month'], df['avg_order_value'], marker='o')
plt.xlabel('Month')
plt.ylabel('Average Order Value')
plt.title('Average Order Value Over Time')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 28. Monthly Sales per Department
Aggregate total sales by month and department by joining `orders`, `products`, and `departments`. Use Plotly to create a line chart (or area chart) with separate traces for each department showing monthly sales.

In [ ]:

# 28. Monthly Sales per Department
query = 'SELECT dept.name AS department, strftime('%Y-%m', o.order_date) AS month, SUM(o.total_price) AS total_sales FROM orders o JOIN products p ON p.id = o.product_id JOIN departments dept ON dept.id = p.department_id GROUP BY dept.id, dept.name, month ORDER BY month'
df = pd.read_sql_query(query, conn)
pivot_df = df.pivot(index='month', columns='department', values='total_sales')
fig = px.line(pivot_df, x=pivot_df.index, y=pivot_df.columns, title='Monthly Sales per Department')
fig.update_layout(xaxis_title='Month', yaxis_title='Total Sales')
fig.show()

### 29. Top Cities by Revenue
Join `orders` with `customers` to compute total revenue by city. Identify the top 5 cities by revenue and display a bar chart showing the revenue for these cities.

In [ ]:

# 29. Top Cities by Revenue
query = 'SELECT c.city, SUM(o.total_price) AS total_sales FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY c.city ORDER BY total_sales DESC LIMIT 5'
df = pd.read_sql_query(query, conn)
plt.figure(figsize=(7,4))
plt.bar(df['city'], df['total_sales'], color='indigo')
plt.xlabel('City')
plt.ylabel('Total Revenue')
plt.title('Top Cities by Revenue')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### 30. Employee Salary vs Bonus by Department
Create a scatter plot of employee salary vs bonus, color-coded by department. Use Plotly to allow interactive exploration. Compute correlation coefficients for each department.

In [ ]:

# 30. Employee Salary vs Bonus by Department
query = 'SELECT e.salary, e.bonus, dept.name AS department FROM employees e JOIN departments dept ON dept.id = e.department_id'
df = pd.read_sql_query(query, conn)
fig = px.scatter(df, x='salary', y='bonus', color='department', title='Employee Salary vs Bonus by Department', labels={'salary':'Salary','bonus':'Bonus'})
fig.show()
correlations = df.groupby('department').apply(lambda d: d['salary'].corr(d['bonus']))
print('Correlation by department:
', correlations)